$primary-color: #21FFFF;


/* PAGES TEMPLATE OVERRIDES */

.brand {
	margin-left: 80px;
}

.page-container {
    top: 0;
    bottom: 0;
    position: fixed;
}

.page-content-wrapper {
	background: url(../assets/img/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header {
	background: transparent;
	border-bottom: none;
}

.pages-sidebar {
	background-color: #1D252A;
}

.pages-sidebar .sidebar-header {
	background-color: #181E21;
}

.icon-thumbnail {
	background: $primary-color;
	color: inherit;
}

.datepicker thead tr .prev:before {
  content: "<";
}
.datepicker thead tr .next:before {
  content: ">";
}

.header .search-link {
  padding-left: 20px;
  border-left: solid 2px white;
  color: #fff;
  font-size: 15px;
  margin-left: 30px;
}

.header .search-link:hover, .header .search-link:visited {
  color: #fff;
}

[data-toggle=buttons] > .btn input[type=radio], 
[data-toggle=buttons] > .btn-group > .btn input[type=radio] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.input-group {
  flex-wrap: nowrap;
}

.input-group-addon {
  display: flex;
  align-items: center;
  justify-content: center;
}

#overlay-search {
  font-size: 40px;
}

$titleColor: #fff;

/* NEW CUSTOM CSS */
.view-title {
	color: $titleColor;
	font-size: 32px;
	font-weight: normal;
}

.view-subtitle {
	color: transparentize($color: $titleColor, $amount: 0.35);
}

.horizontal-center {
	text-align: center;
}

.card .card-body{
   height: 650px;
}
#scheduleWizard{
  height: 100%;
}

#scheduleWizard .tab-content{
  height: 570px;
}

#scheduleWizard .tab-pane.active{
	overflow: hidden;
	overflow-y: auto;
	height:90%;
}

#scheduleWizard .footer-buttons{
	margin-top: 15px;
	display:block;
	height:6.5%;
}

#confirmSettings table td {
  padding: 10px 20px;
}

@media (max-width:589px) {
	#scheduleWizard .tab-content{
	    height: 500px;
	}
}
