$primary-color: #21FFFF;
$warning-color: gold;


/* PAGES TEMPLATE OVERRIDES */

#root, .app-container {
  height: 100%;
}

.brand {
	margin-left: 20px;
}

.page-content-wrapper {
	background: url(../assets/img/background.jpg) no-repeat center center fixed;
  background-size: cover;
}

.header {
	background: transparent;
  border-bottom: none;
  background: rgba(0, 0, 0, 0.5);
}

.loading-icon {
  margin: auto;
  width: 5%;
  padding-top: 5%;
}

.switch-label {
  vertical-align: super;
  margin-left: 10px;
}

.pages-sidebar {
	background-color: #1D252A;
}

.pages-sidebar .sidebar-header {
	background-color: #181E21;
}

.page-sidebar .icon-thumbnail.active {
	background: $primary-color;
	color: inherit;
}

.datepicker thead tr .prev::before {
  content: "<";
}
.datepicker thead tr .next::before {
  content: ">";
}

.header .search-link {
  color: #fff;
  font-size: 15px;
  margin-left: 30px;
}

.header .search-link:hover, .header .search-link:visited {
  color: #fff;
}

[data-toggle=buttons] > .btn input[type=radio],
[data-toggle=buttons] > .btn-group > .btn input[type=radio] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.input-group {
  flex-wrap: nowrap;
}

.input-group-addon {
  display: flex;
  align-items: center;
  justify-content: center;
}

#overlay-search {
  font-size: 36px;

  @media (max-width: 480px) {
    font-size: 16px;
    letter-spacing: normal;
  }
}

.overlay-close {
  cursor: pointer
}

.search-link {
  -webkit-transition: ease-in 0.3s; /* Safari */
  transition: ease-in 0.3s;
  cursor: pointer;
}

.nav-tabs-simple > li > a::after {
  background-color: $primary-color;
}

.page-sidebar .sidebar-menu .menu-items li > a {
  width: 100%;
}

.page-sidebar .sidebar-menu .menu-items li > a.sub-title {
  width: inherit;
}

.page-sidebar .sidebar-menu .menu-items li > a:hover > .icon-thumbnail {
  color: #fff;
}

$titleColor: #fff;

/* NEW CUSTOM CSS */
hr {
  border-color: #f6f6f6;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.left-separator {
  border-left: 1px solid grey;
}

.right-separator {
  border-right: 1px solid grey;
}

.view-title {
	color: $titleColor;
	font-size: 32px;
	font-weight: normal;
}

.view-subtitle {
	color: transparentize($color: $titleColor, $amount: 0.35);
}

.text-grey {
  color: #ccc;
}

.text-ellipsis {
  text-overflow: ellipsis;
  word-wrap: normal;
  overflow: hidden;
}

.notification-item .heading .content {
  line-height: 25px;
  margin-left: 15px;
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.horizontal-center {
	text-align: center;
}

.absolute-center {
  height: 200px;
  position: relative;
  text-align: center;
}

.absolute-center span {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader{
	width: 50px;
	height: 50px;
	background-size: 100% auto;
	margin: 0 auto;
	margin-top:7%;
	margin-bottom: 24px;
}

.subsection {
  height: 100%;
}

.subsection .tab-content {
  padding: 40px;
}

#scheduleWizard .footer-buttons, .subsection .footer-buttons{
	margin-top: 15px;
	display:block;
	height:6.5%;
}

#confirmSettings table td, #transactionScanner table td {
  padding: 10px 20px;
  word-wrap: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}

.table tbody tr td {
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
}

.table th {
  border-top: none;
}

.flex-stretch {
  flex-grow: 1;
}

#scheduleWizard .nav li a {
  font-size: 15px;
  color: transparentize($color: #fff, $amount: 0.5);
}

#scheduleWizard .nav li a.active {
  color: #fff;
}

#scheduleWizard .row.nav-tabs-linetriangle {
  margin: 0;
}

#scheduleWizard .nav-tabs-linetriangle > li {
  padding-left: 0px;
  padding-right: 0px;
}

#scheduleWizard .nav-tabs-linetriangle > li > a::after {
  border-color: #fff;
  width: inherit;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50px;
  height: 20px;
  background-color: #fff;
  z-index: 121;
  border-left: 0px;
}

#scheduleWizard .nav-tabs-linetriangle > li > a.active::after {
  margin-left: 0px;
  border-color: #fff;
  clip-path: polygon(0 0, calc(50% - 10px) 0, 50% 50%, calc(50% + 10px) 0, 100% 0, 100% 100%, 0 100%);
}

.active-timenodes {
  color: $primary-color;
}

.timenode-count {
  color: #fff;
}
  .timenode-count > div {
    display: inline;
  }
  .timenode-count .analytics-info {
    color: $warning-color;
  }

#timenodeLogsField {
  height: 330px;
  overflow-y: auto;
}

#sidebar-separator {
  border-color: #1D1F27;
}

#signatureCheck {
  height: 250px;
}

.fade-me {
  opacity: 0.5;
  background: #000;
}

@media(max-width: 768px) {
  #scheduleWizard .nav li a .tab-icon-wrapper {
    text-align: center !important;
  }
}

.timenode-modal-title {
  font-size: 20px;
}

.pagination-entry, .pagination-arrow {
  cursor: pointer;
}

#bountyEstimator .progress {
  height: 6px;
}

#networkChooser select {
  color: #fff;
  width: auto !important;
  min-height: 0px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;

  // Hide arrow on Firefox
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

#networkChooserSelect::after {
  position: relative;
  content: '';
  width: 0;
  height: 0;
  top: 12px;
  right: 20px;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #616161 transparent transparent transparent;
  pointer-events: none;
}

#searchOverlayButton {
  max-width: 75%;
  min-width: 140px;
}
