$primary-color: #21FFFF;


/* PAGES TEMPLATE OVERRIDES */

.brand {
	margin-left: 80px;
}

.page-container {
    top: 0;
    bottom: 0;
    position: fixed;
}

.page-content-wrapper {
	background: url(../assets/img/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header {
	background: transparent;
	border-bottom: none;
}

.pages-sidebar {
	background-color: #1D252A;
}

.pages-sidebar .sidebar-header {
	background-color: #181E21;
}

.icon-thumbnail {
	background: $primary-color;
	color: inherit;
}

.datepicker thead tr .prev:before {
  content: "<";
}
.datepicker thead tr .next:before {
  content: ">";
}

.header .search-link {
  padding-left: 20px;
  border-left: solid 2px white;
  color: #fff;
  font-size: 15px;
  margin-left: 30px;
}

.header .search-link:hover, .header .search-link:visited {
  color: #fff;
}


/* NEW CUSTOM CSS */
.view-title {
	color: #fff;
	font-size: 32px;
	font-weight: normal;
}

.horizontal-center {
	text-align: center;
}

.card .card-body{
   height: 650px;
}

.loader{
	width: 50px;
	height: 50px;
	background-size: 100% auto;
	margin: 0 auto;
	margin-top:20%;
}

#scheduleWizard{
  height: 100%;
}

#scheduleWizard .tab-content{
  height: 570px;
}

#scheduleWizard .tab-pane.active{
	overflow: hidden;
	overflow-y: auto;
	height:90%;
}

#scheduleWizard .footer-buttons{
	margin-top: 15px;
	display:block;
	height:6.5%;
}

#confirmSettings table td {
  padding: 10px 20px;
}

@media (max-width:589px) {
	#scheduleWizard .tab-content{
	    height: 500px;
	}
}
