dist: trusty
sudo: required
group: beta
language: node_js
node_js:
  - "8"
install: npm install
script:
  - npm run test
deploy:
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
    bucket: $AWS_S3_BUCKET
    local_dir: out
    skip_cleanup: true
    acl: public_read
    on:
      branch: develop
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
    bucket: $AWS_S3_PROD_BUCKET
    local_dir: out
    skip_cleanup: true
    acl: public_read
    on:
      branch: master
notifications:
  slack:
    secure: $SLACK_NOTIFICATIONS
