<!DOCTYPE html>
<html>
  <head>
    <%= htmlWebpackPlugin.options.gtmScript %>
    <meta http-equiv="Content-Security-Policy" content="<%= htmlWebpackPlugin.options.metaCsp %>" >
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Chronos - Ethereum Alarm Clock DApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <%= htmlWebpackPlugin.options.baseTag %>
  </head>
  <body class="fixed-header">

    <%= htmlWebpackPlugin.options.gtmNoScript %>


    <div id="root"></div>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="js/modernizr.custom.js"></script>
  </body>
</html>